:root {
  --background-color: #ecf0f1;
  --primary-color: #1f97be;
  --success-color: #0eac51;
  --danger-color: #C72C1C;
  --primary-darken-color: #0077C0;
  --success-darken-color: #009C41;
  --danger-darken-color: #B71C0C;
  --primary-button-text-color: white;
  --success-button-text-color: white;
  --danger-button-text-color: white;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 22px;
  text-decoration: none;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 3px solid transparent;
  color: var(--button-text-color);
  background-color: var(--button-color);
}
.button.button-small {
  padding: 6px 12px;
  font-size: 0.75rem;
}
.button.button-small .material-icons {
  font-size: 14px;
  margin-right: 8px;
}
.button.button-link {
  background-color: transparent;
  border: 3px solid var(--button-color);
  color: var(--button-color);
}
.button.button-link:hover {
  color: var(--button-text-color);
}
.button:focus {
  border: 3px solid white;
  box-shadow: 0 0 0 3px var(--button-color);
  outline: none;
}
.button.button-default {
  --button-color: var(--primary-color);
  --button-text-color: var(--primary-button-text-color);
}
.button.button-default:hover, .button.button-default.active {
  background-color: var(--primary-darken-color);
}
.button.button-danger {
  --button-color: var(--danger-color);
  --button-text-color: var(--danger-button-text-color);
}
.button.button-danger:hover, .button.button-danger.active {
  background-color: var(--danger-darken-color);
}
.button.button-success {
  --button-color: var(--success-color);
  --button-text-color: var(--success-button-text-color);
}
.button.button-success:hover, .button.button-success.active {
  background-color: var(--success-darken-color);
}
.button .material-icons {
  font-size: 16px;
  margin-right: 16px;
}
